.inter-bi{
  width: 40px;
  height: 40px;
  color: white;
}

.footer-bg{
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 992px){
  .footer-lg-bg{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}